body {
  background: #9CCF;
  height: 95vh;
}

#canvas_wrapper {
  margin: auto;
  padding: 10px;
  height:60vh;
  width: 80vw;

  display: flex;
  justify-content: center;

  background: orange;
}

#viewport {
  height: 60vh;
  width: 35vw;
  margin: 5px;

  border: 1px solid black;

}

#cropViewport {
  height: 60vh;
  width: 35vw;
  margin: 5px;

  border: 1px solid black;
}


#buttonWrapper {
  position: absolute;
  width: 30px;
  top: 2px;
  right: 2px;
}

input[type ="button"] {
  padding: 5px;
  width: 30px;
  margin: 0px 0px 2px 0px;
}



#cardsDisplay {
    position: relative;
    margin: auto;
    z-index: 3;
    background-color: whitesmoke;

    margin-top: 1%;
    height: 20vh;
    width: 90vw;

    border: 5px dashed teal;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: auto;
}
