.imageCard {
    margin: 20px;
    position: relative;

    min-height: 100px;
    max-height: 200px;

    min-width: 200px;
    max-width: 250px;

    background-size: cover;

    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 2px 1px grey;
}

.imageCard:hover {
    cursor: pointer;
}

#swapButtons {
    position: absolute;
    bottom: 0;
    padding-bottom: 2px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    justify-content: 30%;
}

.swapButton {
    background-color: #1E88E5;
    color: white;
    border-radius: 10%;
    text-decoration: none;
}

.imageFormat {
    display: inline-block;
    background-color: #1E88E5;
    color: white;
    border: 1px solid white;
    border-radius: 20%;
    padding: 1px;
}

.imageFormatError {
    display: inline-block;
    background-color: red;
    color: white;
    border: 1px solid white;
    border-radius: 20%;
    padding: 1px;

    cursor: help;
}

/* Tooltip text */
.imageFormatError .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 1px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  bottom: 100%;
  left: 40%;
  margin-left: -60px;
  z-index: 1;
}

.imageFormatError:hover .tooltiptext {
  visibility: visible;
}

.imageCardTitle {
    position: absolute;
    display: inline-block;
    text-decoration: solid;
    top: 5px;
    left: 5pt;
    padding: 1px;
    max-width: 60%;

    border-radius: 10%;
    border: 1px solid white;

    overflow: hidden;
    color: aliceblue;
    background: #1E88E5;

    z-index: top;
}

.removeButton {
    position: absolute;
    top: 5px;
    right: 5pt;
    background-color: #1E88E5;
    color: white;
    border-radius: 20%;
    text-decoration: none;
}

.removeBackground {
    position: absolute;
    bottom: 5pt;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
